* {
	box-sizing: border-box;
/
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: center;
	background-color: lightgrey;
	height: 100vh;
}

.container {
	margin-top: 30px;
	background-color: white;
	/* padding: 10px 20px; */
	width: 500px;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	border-radius: 5px;
	min-height: 200px;
	position: relative;
}

.toDo {
	width: 100%;
}

h1 {
	margin-top: 15px;
	text-align: center;
}

.toDoElement {
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgrey;
	padding: 1em 0 1em 0;
	margin-inline: 20px;
}

.toDoElement:last-child {
	border-bottom: none;
}

.toDoElement > label {
	margin-left: 10px;
	padding: 0px 2px
}

.search-bar {
	width: 92%;
	height: 30px;
	margin-inline: 20px;
	border-radius: 3px;
}

.search-bar::placeholder {
	padding-left: 10px;
}

/* Footer */

.footer {
	display: flex;
	justify-content: space-between;
	background-color: #f5fde8;
	border-radius: 0 0 5px 5px;
	/* position: absolute;
	bottom: 0; */
	width: 100%;
	margin-top: auto;
}

.footer-group1,
.footer-group2 {
	display: flex;
	width: 50%;
	align-items: center;
	flex-wrap: nowrap;
}

.footer-group1 > p {
	padding-inline: 5px;
	margin-left: 20px;
	/* overflow: hidden; */
}

.footer-group2 > button {
	height: 30px;
	margin-inline: 5px;
	background-color: transparent;
	border: none;
}

.footer-group2 > button {
	height: 30px;
	margin-inline: 5px;
	background-color: transparent;
	border: 1px solid transparent;
}

.items {
	font-size: 12px;
}

.not-shown {
	display: none;
}

.footer-item {
	cursor: pointer;
}

.footer-group2 > button:active,
.footer-group2 > button:hover {
	border: 1px solid lightgray;
}

.footer-group2 {
	justify-content: space-around;
	margin-left: 50px;
}

.delete {
	filter: grayscale(100%);
	opacity: 0.5;
	margin-left: auto;
}

.edit {
	margin-left: 0;
	filter: grayscale(100%);
	opacity: 0.5;
}

.edit:hover {
	cursor: pointer;
}

.delete:hover {
	filter: none;
	opacity: 1;
	cursor: pointer;
}

.strikethrough {
	text-decoration: line-through;
}

.div-icon {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

label::spelling-error {
	text-decoration: none;
}